// Colors
$attack: #B71c1c;
$escape: #0D47A1;
$crew: #E65100;
$white: #fff;
$grey: #E0E0E0;
$experience-bar: #8BC34A;

$black: #000000;
$red: #d32f2f;
$blue: #1976D2;
$green: #8BC34A;
$orange: #FFA000;

// Stats
$strength: #303F9F;
$dexterity: #388E3C;
$intelligence: #1976D2;
$stamina: #d32f2f;
$charisma: #FFA000;
$unallocated: #455A64;