// Labels
.label-attack {
  background-color: $attack;
}

.label-escape {
  background-color: $escape;
}

.label-crew {
  background-color: $crew;
}

.label-strength {
  background-color: $strength;
}

.label-dexterity {
  background-color: $dexterity;
}

.label-intelligence {
  background-color: $intelligence;
}

.label-stamina {
  background-color: $stamina;
}

.label-charisma {
  background-color: $charisma;
}

.label-unallocated {
  background-color: $unallocated;
}

.label-stats-up {
  background-color: $orange;
  color: $black;
  border: 0;
  border-radius: 50%;
  box-shadow: none;
  font-weight: bold;
  text-transform: uppercase;
  height: 18px;
  width: 18px;
  &:empty {
    display: inline-block;
  }
}