.navbar-default {
  border: 0;
}

.navbar-brand,
.navbar-nav li a {
  line-height: 60px;
  height: 60px;
  padding-top: 0;
}

.ship-quicklist-button {
  text-align: center;
  //border-bottom: 4px solid $green;
}

ul .ship-quicklist {
  overflow: auto;
  min-width: 300px;
  font-size: 14px;
  max-height: 300px;
  .ship-quicklist-item {
    margin: 6px;
  }
  li a {
    line-height: 1.6;
  }
}

.nav-styled {
  border-bottom: 4px solid $black;
  font-weight: 700;
}

.nav-explore {
  border-color: $green;
  &:hover, &:focus, &:active {
    background-color: $light-green;
  }
}

.nav-combat {
  border-color: $red;
  &:hover, &:focus, &:active {
    background-color: $light-red;
  }
}

.nav-town {
  border-color: $brown;
  &:hover, &:focus, &:active {
    background-color: $light-brown;
  }
}

.nav-travel {
  border-color: $blue;
  &:hover, &:focus, &:active {
    background-color: $light-blue;
  }
}