// Progress bar

progress {
  border-radius: 0;
}

.progress-bar {
  border-radius: 0;
}

.experience-bar {
  background-color: $experience-bar;
  height: 4px;
  display: flex;
}

.experience-bar::-webkit-progress-bar, .experience-bar::-webkit-progress-value {
}

.experience-bar::-webkit-progress-bar {
  background-color: $grey;
}

.ship-experience-bar {
  background-color: $brown;
  height: 4px;
  display: flex;
}

.ship-experience-bar::-webkit-progress-bar, .experience-bar::-webkit-progress-value {
}

.ship-experience-bar::-webkit-progress-bar {
  background-color: $grey;
}