.ship-svg {
  display: block;
  text-align: center;
  height: 80vh;
  width: 80%;
  margin: 0 auto;
  svg {
    margin-left: -15px;
  }
}

/*.ship-svg-waves {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  //background: url('../img/waves.gif') repeat;
}*/

.ship-bow {
  position: absolute;
  max-height: 20vh;
  z-index: 2;
}

.ship-hull {
  position: absolute;
  margin-top: 17vh;
  max-height: 50vh;
  z-index: 1;
}

.ship-fore-mast {
  position: absolute;
  margin-top: 13vh;
  max-height: 18vh;
  z-index: 99;
}

.ship-main-mast {
  position: absolute;
  margin-top: 32vh;
  max-height: 8vh;
  z-index: 99;
}

.ship-main-mast-2 {
  position: absolute;
  margin-top: 43vh;
  max-height: 8vh;
  z-index: 99;
}

.ship-fore-gaff {
  position: absolute;
  margin-left: -3.5vh !important;
  margin-top: 2vh;
  max-height: 43vh;
  z-index: 99;
}

.ship-main-gaff {
  position: absolute;
  margin-left: -4vh !important;
  margin-top: 15vh;
  max-height: 50vh;
  z-index: 99;
}

.ship-aft-gaff-1 {
  position: absolute;
  margin-left: -6vh !important;
  margin-top: 45vh;
  max-height: 35vh;
  z-index: 99;
}

.ship-gaff-aft-barque-1 {
  position: absolute;
  margin-left: -5vh !important;
  margin-top: 45vh;
  max-height: 35vh;
  z-index: 99;
}

.ship-fore-mast-barquentine {
  position: absolute;
  margin-top: 10vh;
  max-height: 18vh;
  z-index: 99;
}

.ship-gaff-aft-barquentine-1 {
  position: absolute;
  margin-left: -5vh !important;
  margin-top: 38vh;
  max-height: 28vh;
  z-index: 99;
}

.ship-gaff-aft-barquentine-2 {
  position: absolute;
  margin-left: -4.8vh !important;
  margin-top: 57vh;
  max-height: 25vh;
  z-index: 99;
}

.ship-aft-mast {
  position: absolute;
  margin-top: 52vh;
  max-height: 16vh;
  z-index: 99;
}

.ship-officer-deck {
  position: absolute;
  margin-top: 55vh;
  max-height: 17vh;
  z-index: 2;
}

.ship-grate-1 {
  position: absolute;
  margin-top: 30vh;
  max-height: 6vh;
  z-index: 3;
}

.ship-grate-2 {
  position: absolute;
  margin-top: 48vh;
  max-height: 6vh;
  z-index: 3;
}

.ship-rowboat-1 {
  position: absolute;
  margin-top: 57vh;
  max-height: 6vh;
  z-index: 3;
}

.ship-rowboat-2 {
  position: absolute;
  margin-top: 40vh;
  max-height: 6vh;
  z-index: 3;
}

