// Progress bar
.experience-bar {
  background-color: $experience-bar;
  border-radius: 50px;
  height: 6px;
  margin-top: -3px;
  display: flex;
  line-height: 3px;
}

.experience-bar::-webkit-progress-bar, .experience-bar::-webkit-progress-value {
  border-radius: 50px;
}

.experience-bar::-webkit-progress-bar {
  background-color: $grey;
}